In [11]:
# Supermart Grocery Sales Dataset Cleaning

In [12]:
# Step 1: Import Libraries
import pandas as pd

In [13]:
# Step 2: Load Dataset
df = pd.read_csv("Supermart Grocery Sales - Retail Analytics Dataset.csv")

In [14]:
# Step 3: Basic Info
print("Initial Data Info:")
print(df.info())
print("\nFirst 5 Rows:")
print(df.head())

Initial Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9994 non-null   object
 1   Customer Name  9994 non-null   object
 2   Category       9994 non-null   object
 3   Sub Category   9994 non-null   object
 4   City           9994 non-null   object
 5   Order Date     9994 non-null   object
 6   Region         9994 non-null   object
 7   Sales          9994 non-null   int64
 8   Discount       9994 non-null   float64
 9   Profit         9994 non-null   float64
 10  State          9994 non-null   object
dtypes: float64(2), int64(1), object(8)
memory usage: 859.0+ KB
None

First 5 Rows:
  Order ID Customer Name          Category      Sub Category         City  \
0      OD1        Harish      Oil & Masala           Masalas      Vellore
1      OD2         Sudha         Beverages     Health Drinks  Krishnagiri
2      OD3       Hussain       Food Grains      Atta & Flour   Perambalur
3      OD4       Jackson  Fruits & Veggies  Fresh Vegetables   Dharmapuri
4      OD5       Ridhesh       Food Grains   Organic Staples         Ooty

   Order Date Region  Sales  Discount  Profit       State
0  11-08-2017  North   1254      0.12  401.28  Tamil Nadu
1  11-08-2017  South    749      0.18  149.80  Tamil Nadu
2  06-12-2017   West   2360      0.21  165.20  Tamil Nadu
3  10-11-2016  South    896      0.25   89.60  Tamil Nadu
4  10-11-2016  South   2355      0.26  918.45  Tamil Nadu

In [15]:
# Step 4: Check for Duplicates and Drop Them
duplicates = df.duplicated().sum()
print(f"Duplicate rows: {duplicates}")
df = df.drop_duplicates()

Duplicate rows: 0

In [16]:
# Step 5: Check for Missing Values
missing = df.isnull().sum()
print("\nMissing Values per Column:")
print(missing)

Missing Values per Column:
Order ID         0
Customer Name    0
Category         0
Sub Category     0
City             0
Order Date       0
Region           0
Sales            0
Discount         0
Profit           0
State            0
dtype: int64

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9994 non-null   object
 1   Customer Name  9994 non-null   object
 2   Category       9994 non-null   object
 3   Sub Category   9994 non-null   object
 4   City           9994 non-null   object
 5   Order Date     9994 non-null   object
 6   Region         9994 non-null   object
 7   Sales          9994 non-null   int64
 8   Discount       9994 non-null   float64
 9   Profit         9994 non-null   float64
 10  State          9994 non-null   object
dtypes: float64(2), int64(1), object(8)
memory usage: 859.0+ KB

In [18]:
# Step 7: Standardize Column Names
df.columns = df.columns.str.strip().str.replace(" ", "_").str.lower()

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       9994 non-null   object
 1   customer_name  9994 non-null   object
 2   category       9994 non-null   object
 3   sub_category   9994 non-null   object
 4   city           9994 non-null   object
 5   order_date     9994 non-null   object
 6   region         9994 non-null   object
 7   sales          9994 non-null   int64
 8   discount       9994 non-null   float64
 9   profit         9994 non-null   float64
 10  state          9994 non-null   object
dtypes: float64(2), int64(1), object(8)
memory usage: 859.0+ KB

In [20]:
# Step 9: Final Preview
print("\nCleaned Data Preview:")
print(df.head())

Cleaned Data Preview:
  order_id customer_name          category      sub_category         city  \
0      OD1        Harish      Oil & Masala           Masalas      Vellore
1      OD2         Sudha         Beverages     Health Drinks  Krishnagiri
2      OD3       Hussain       Food Grains      Atta & Flour   Perambalur
3      OD4       Jackson  Fruits & Veggies  Fresh Vegetables   Dharmapuri
4      OD5       Ridhesh       Food Grains   Organic Staples         Ooty

   order_date region  sales  discount  profit       state
0  11-08-2017  North   1254      0.12  401.28  Tamil Nadu
1  11-08-2017  South    749      0.18  149.80  Tamil Nadu
2  06-12-2017   West   2360      0.21  165.20  Tamil Nadu
3  10-11-2016  South    896      0.25   89.60  Tamil Nadu
4  10-11-2016  South   2355      0.26  918.45  Tamil Nadu

In [21]:
# Step 10: Export Cleaned Data to CSV
df.to_csv("cleaned_supermart_grocery_sales.csv", index=False)
print("Cleaned dataset saved as 'cleaned_supermart_grocery_sales.csv'")

Cleaned dataset saved as 'cleaned_supermart_grocery_sales.csv'

In [26]:
# Step 2: Load the Existing CSV File
file_path = "cleaned_supermart_grocery_sales.csv"  # Same file
df = pd.read_csv(file_path)

In [27]:
print(df.head())

  order_id customer_name          category      sub_category         city  \
0      OD1        Harish      Oil & Masala           Masalas      Vellore
1      OD2         Sudha         Beverages     Health Drinks  Krishnagiri
2      OD3       Hussain       Food Grains      Atta & Flour   Perambalur
3      OD4       Jackson  Fruits & Veggies  Fresh Vegetables   Dharmapuri
4      OD5       Ridhesh       Food Grains   Organic Staples         Ooty

   order_date region  sales  discount  profit       state
0  11-08-2017  North   1254      0.12  401.28  Tamil Nadu
1  11-08-2017  South    749      0.18  149.80  Tamil Nadu
2  06-12-2017   West   2360      0.21  165.20  Tamil Nadu
3  10-11-2016  South    896      0.25   89.60  Tamil Nadu
4  10-11-2016  South   2355      0.26  918.45  Tamil Nadu

In [28]:
# Step 3: Drop Unnecessary Columns (if they exist)
columns_to_drop = ["Unnamed: 11", "Unnamed: 12", "Unnamed: 13"]
df.drop(columns=[col for col in columns_to_drop if col in df.columns], inplace=True)

In [31]:
# Step 4: Convert 'order_date' to datetime format
df['order_date'] = pd.to_datetime(df['order_date'], format='mixed', dayfirst=True)

In [32]:
# Step 5: Create New Columns

# Profit Percentage
df['profit_%'] = (df['profit'] / df['sales']) * 100

In [33]:
# Discount Percentage
df['discount_%'] = df['discount'] * 100

In [34]:
# Month Name
df['month_name'] = df['order_date'].dt.month_name()

In [35]:
# Day Name
df['day_name'] = df['order_date'].dt.day_name()

In [36]:
# Year
df['year'] = df['order_date'].dt.year

In [37]:
# Weekday or Weekend
df['week_type'] = df['order_date'].dt.dayofweek.apply(lambda x: 'Weekend' if x >= 5 else 'Weekday')

In [38]:
# Step 6: Save Changes Back to the Same File
df.to_csv(file_path, index=False)

In [39]:
df.head()

,order_id,customer_name,category,sub_category,city,order_date,region,sales,discount,profit,state,profit_%,discount_%,month_name,day_name,year,week_type
0,OD1,Harish,Oil & Masala,Masalas,Vellore,2017-08-11,North,1254,0.12,401.28,Tamil Nadu,32.0,12.0,August,Friday,2017,Weekday
1,OD2,Sudha,Beverages,Health Drinks,Krishnagiri,2017-08-11,South,749,0.18,149.80,Tamil Nadu,20.0,18.0,August,Friday,2017,Weekday
2,OD3,Hussain,Food Grains,Atta & Flour,Perambalur,2017-12-06,West,2360,0.21,165.20,Tamil Nadu,7.0,21.0,December,Wednesday,2017,Weekday
3,OD4,Jackson,Fruits & Veggies,Fresh Vegetables,Dharmapuri,2016-11-10,South,896,0.25,89.60,Tamil Nadu,10.0,25.0,November,Thursday,2016,Weekday
4,OD5,Ridhesh,Food Grains,Organic Staples,Ooty,2016-11-10,South,2355,0.26,918.45,Tamil Nadu,39.0,26.0,November,Thursday,2016,Weekday